* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
  font-family: "Montserrat", "Segoe UI", sans-serif;
  line-height: 1.3;
}

body button{
  border-radius: 5px;
}



.no-scroll {
  overflow: hidden;
}

.App{
  position: relative;
}
